*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
.navbar{
    width: 75%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    
}
.nav-items a{
    text-decoration: none;
    color: black;
}
.nav-items .me-25{
    margin-right: 25px;
    font-size: larger;
    font-weight: bold;
}
.nav-items .me-10{
    margin-right: 10px;
}
.nav-button button:hover{
    background-color: black;
    color:white;
}

.nav-button span{
    margin-left: 10px;
}